name: Build Mod
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Build with Gradle
        run: gradle build --stacktrace
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Mod-Jar-Final
          path: build/libs/*.jar
          
